* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}
.container {
   width: 100%;
   height: 100vh;
   background: linear-gradient(135deg, #1e1e1e, #444);
   display: flex;
   align-items: center;
   justify-content: center;
}
.music-player {
   background: rgba(255, 255, 255, 0.15);
   width: 400px;
   padding: 30px;
   text-align: center;
   backdrop-filter: blur(15px);
   border-radius: 20px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
nav {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}
nav .circle {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   line-height: 40px;
   background: rgba(255, 255, 255, 0.8);
   color: #f53192;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   transition: transform 0.3s;
}
nav .circle:hover {
   transform: scale(1.05);
}
.song-img {
   width: 200px;
   border-radius: 50%;
   border: 4px solid #ffffffaa;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
   transition: transform 0.3s ease;
}
.song-img:hover {
   transform: scale(1.05);
}
.music-player h1 {
   font-size: 24px;
   font-weight: 500;
   color: #ffffffdd;
   margin-top: 15px;
}
.music-player p {
   font-size: 16px;
   color: #ffffffaa;
   margin-bottom: 20px;
}

#progress {
   -webkit-appearance: none;
   width: 100%;
   height: 6px;
   background: #807e7e;
   border-radius: 10px;
   cursor: pointer;
   margin: 20px 0;
   outline: none;
   transition: background 0.3s;
}
#progress::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: #f53192;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 4px solid #ffffff;
   box-shadow: 0 0 10px rgba(245, 49, 146, 0.5);
}
.controls {
   display: flex;
   justify-content: center; 
   position: relative; 
   margin-left: 45px; 
}
.controls div {
   width: 50px;
   height: 50px;
   background: rgba(255, 255, 255, 0.85);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: #f53192;
   margin: 0 10px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   transition: background 0.3s, transform 0.3s;
}
.controls div:hover {
   background: #f53192;
   color: #fff;
   transform: scale(1.15);
}
.controls div:nth-child(2) {
   width: 60px;
   height: 60px;
   background: #f53192;
   color: #fff;
   transform: scale(1.2);
}
#repeat-icon {
   font-size: 18px; 
   color: #ffffff;
   cursor: pointer;
   transition: color 0.3s, transform 0.2s;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 50px; 
   height: 50px;
   border-radius: 50%; 
   margin-left: -10px;
}
#repeat-icon.active {
   color: #f53192; 
   text-shadow: 0 0 5px #f53192;
}
.time-container {
   display: flex;
   justify-content: space-between;
   margin: 10px 0 -10px; 
   font-size: 14px;
   color: #ffffffaa;
}

.time-container span {
   font-weight: 500;
}

.dropdown {
   position: absolute;
   top: 45px;
   right: -27px;
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(8px);
   border-radius: 5px;
   width: 100px; 
   padding: 2px 0; 
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
   display: none; 
   z-index: 1000;
   opacity: 0;
   transform: translateY(-10px);
   transition: all 0.3s ease;
   border: 1px solid rgba(0, 0, 0, 0.5);
}

.dropdown ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.dropdown li {
   padding: 0px 6px;
   cursor: pointer;
   text-align: left;
   white-space: nowrap;
   transition: transform 0.2s ease; 
}

.dropdown li:hover {
   background: #f53192;
   color: #fff;
   transform: scale(1.03); 
}

.dropdown li:not(:last-child) {
   border-bottom: 1px solid #000; 
}

.dropdown a {
   text-decoration: none;
   color: #ffffffcc;
   font-size: 13px; 
   display: block;
   font-weight: 500;
}

.dropdown-trigger {
   position: relative;
}

.dropdown.show {
   display: block;
   opacity: 1;
   transform: translateY(0);
}
